
/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}

#cont
{
    margin-left:auto;
    margin-right:auto;
 

}
.panel{
    float:left;
    margin-top:15px;
    background-color:green;
}
#pasek_menu{
    background-color:black;
    color:white;
    width:100%;
    margin-top:0px;
}
#pasek_menu_nav
{
    margin-left:auto;
    margin-right:auto;
    color:white;
}*/