/*NAvbar*/
main{
    height:100%;
}
#user {
    color: rgba(0,0,0,.5);
}

@media screen and (max-width: 1024px) {
    .navbar {
        min-height: 57px;
        max-height: 57px;
        font-size: large;
        background: #57ba98;    
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
  
}

@media screen and (min-width: 1024px) {
    .navbar {
        min-height: 57px;
        max-height: 57px;
        font-size: large;
        background: #57ba98;      
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

        .navbar ul {
            max-height: 43px;
        }
}

#newsfeed {
    background-color: white;
    min-height: 30px;
}
#brand {
    max-height: 55px;
}

/*Footer*/
.info {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
   color:black;
}
    
/*login page*/

html,
body,
#bg-login {
    height: 100%;
}

#bg-login {
    background: url("images/books-2.jpg")no-repeat center;
    background-size: cover;
    overflow: auto;
    padding-bottom: 100px;

}
#bg-login, h1 {
    color: #F2F2F2;
}
#Search, input {
    color: #F2F2F2;
    min-width:inherit;

}

/*Add account*/
html,
body,
#bg-new-account {

    overflow:auto;
}
#bg-new-account {
    background: url("images/books-2.jpg")no-repeat center;
    background-size: cover;
    overflow: auto;
    padding-bottom: 100px;
}
.myform form{
    
}
@media screen and (min-width: 1024px) {

}

/*Details account*/
html,
body,
#bg-details-account {
    overflow: auto;
}

#bg-details-account {
    background: url("images/books-2.jpg")no-repeat center;
    background-size: cover;
    overflow: auto;
    padding-bottom: 100px;
}

.myform form {
}

@media screen and (min-width: 1024px) {

}

    /*admin panel*/
    a.tilelink {
        height: 170px;
        width: 350px;
        text-decoration: none;
    }

    .card-body {
        min-height: 142px;
    }

    .tile1 {
        height: 170px;
        width: 350px;
    }

        .tile1:hover {
            background-color: lightgray;
        }

    a.tilelinkhtml5 {
        text-decoration: none;
    }

    .cardSpec {
        min-width: 230px;
        min-height: 142px;
        text-align: center;
    }

    .icon-size {
        font-size: 76px;
    }

    div.container6 {
        height: 50em;
        display: flex;
        align-items: center;
        justify-content: center
    }
