
#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.navbar {
    min-height: 57px;
    font-size: large;
    background: #57ba98;
    color: black;
    font-weight: bold;
}

#newsfeed {
    background-color: white;
    min-height: 30px;
}

#user {
    color: rgba(0,0,0,.5);
}

.info {
    position:absolute;
    bottom:0;
    text-align: center;
    width:100%;
}
#kontener{
    height:100%;
}
a.tilelink {
    height: 170px;
    width: 350px;
    text-decoration: none;
}
.card-body{
    min-height:142px;
}
.tile1 {
    height:170px;
    width:350px;
}
.tile1:hover {
    background-color:lightgray;
}
a.tilelinkhtml5 {
    text-decoration: none;
}

.cardSpec {
    min-width: 230px;
    min-height: 142px;
    text-align:center;
}

.icon-size{
    font-size:76px;
}
div.container6 {
    height: 50em;
    display: flex;
    align-items: center;
    justify-content: center
}
#centerdiv {
    padding-top: 200px;
    align-content: center;
}