<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontello/css/basket.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <style>
        #cont {
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
        }

        #main {
            margin-top: 0px;
        }
        .form-control:hover {
            transition: all 500ms linear;
            background-color: #ccffff;
        }

        .backtolist:hover {
            color: black;
        }
    </style>
</head>
<body>
    <div id="cont">
        <div id="main">
            @Html.Partial("_HeaderNavBar", Session["login"])


            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - System Biblioteki</p>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>