
@Html.ActionLink("Wyślij maile!","SendMails")


<div style="color:red;">
    @ViewBag.Mails1
</div>
<div style="color:red;">
    @ViewBag.Mails2
</div>
<div>
    Długość wypożyczania:
    <input type="text" id="long"/>   @*z formcollection*@
</div>
