
@{
    ViewBag.Title = "Admin";
}


<section>
    <div class="container text-center">
        <header>
            <h1 class="text-light">Witaj Adminie</h1>
        </header>
        <div>
            <div class="row">
                <div class="card-columns">
                    <div class="card tile1">
                        <div class="card-body ">
                            <a href="/Home/BookAdd" class="card-link tilelink"><i class="icon-user icon-size"><br /></i>Dodaj książkę</a>
                        </div>
                    </div>
                    <a href="#" class="tilelinkhtml5">
                        <div class="card tile1 ">
                            <div class="card-body">
                                <i class="icon-apple icon-size"></i><br />Apple
                            </div>
                        </div>
                    </a>
                    <a href="#" class="tilelinkhtml5">
                        <div class="card tile1">
                            <div class="card-body ">
                                <i class="icon-apple icon-size"></i><br />Apple
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>

    </div>
</section>