@model IEnumerable<Biblioteka.Models.Book>
@{
    ViewBag.Title = "Koszyk";
    var lista = Session["Zamowienie"] as IEnumerable<Biblioteka.Models.Book>;
}

<h2>Koszyk</h2>

<div>
    <h1>Twój koszyk</h1>
    @if (lista != null)
    {
        foreach (var u in lista)
        {
            if (Session["login"] != null)
            {
                @u.BookID @u.Title <a class="linkUlub" href="@Url.Action("DeleteKoszyk", "Home",new {id = u.BookID})"><i class="icon-minus-circled"></i></a>
            }

        }
        <br />
        @Html.ActionLink("Wypożycz", "Borrow", "Borrowing", new {id= (Session["adminID"]) },null) // liste przekazac / odebrac w kontrolerze / dodac do borrowingow i wypisac
    }


</div>